<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn" [ngClass]="componentSelected=='Roles'?'btn-success':'btn-primary'"
        (click)="componentSelected='Roles'">Role</button>
    <button type="button" class="btn" [ngClass]="componentSelected=='Designations'?'btn-success':'btn-primary'"
        (click)="componentSelected='Designations'">Designation</button>
</div>

@if (componentSelected=='Roles') {
<app-role></app-role>
}
@else if (componentSelected=='Designations') {
<app-designation></app-designation>
}